<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no"
    />
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="https://alitajs.com/assets/img/meta/apple-touch-icon-114x114.png"
    />
    <style>
      .__dumi-default-mobile-demo-layout {
        padding: 0 !important;
        background-color: #f6f6f6;
      }
    </style>
    <link rel="stylesheet" href="/umi.73188d9b.css" />
    <script>
      window.routerBase = "/";
    </script>
    <script>
      //! umi version: 3.5.22
    </script>
    <script>
      !(function () {
        var e = localStorage.getItem("dumi:prefers-color"),
          t = window.matchMedia("(prefers-color-scheme: dark)").matches,
          r = ["light", "dark", "auto"];
        document.documentElement.setAttribute(
          "data-prefers-color",
          e === r[2] ? (t ? r[1] : r[0]) : r.indexOf(e) > -1 ? e : r[0]
        );
      })();
    </script>
    <title>分组柱状图</title>
  </head>
  <body>
    <div id="root"></div>

    <script src="/umi.bf032db3.js"></script>
  </body>
</html>
